<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Patient-Tracker</ion-title>
	</ion-navbar>
</ion-header>
<ion-content style="background-image: url(http://miriadna.com/desctopwalls/images/max/White-sand-in-blur.jpg);background-size: 296%;background-repeat: no-repeat;">
	<div  *ngIf="isAddPatient">
		<h2 style="text-align : center">
			Please Add Patient
			<hr>
		</h2>
		<button class="add-button" (click)="add()" ion-button color="danger" clear icon-only>
          <ion-icon  style="font-size: 50px;color: red" name="add"></ion-icon>
	    </button>
	</div>
	<div  *ngIf="isPatientForm">
		<div style="padding: 0;">
			<img src="http://miriadna.com/desctopwalls/images/max/White-sand-in-blur.jpg" alt="">
		</div>
		<form  [formGroup]="patientForm">
			<ion-list class="ion-list">
				<ion-item class="patient-name">

					<ion-label id="label">
						<ion-icon name="md-person-add"></ion-icon>
					</ion-label>

					<ion-input  color="danger" placeholder="Patient Name" formControlName="patientName" type="text" ></ion-input>
				</ion-item>
				<ion-item class="patient-age">
				<ion-label id="label">
					<ion-icon name="md-person"></ion-icon>
			    </ion-label>
					<ion-input type="number" formControlName="patientAge"  placeholder="Patient Age"></ion-input>
				</ion-item>


				<ion-item class="patient-address">
						<ion-label id="label">
						   <ion-icon  name="md-home"></ion-icon>
						</ion-label>
					<ion-input type="text" placeholder="Patient Home Address" formControlName="patientAddress" ></ion-input>

				</ion-item>


				<ion-item class="patient-gender">
					<ion-label id="label">
						<ion-icon  name="ios-man"></ion-icon>Gender</ion-label>
					<ion-select formControlName="gender">
						<ion-option *ngFor="let gender of genders" [value]="gender.value">
							{{gender.viewValue}}
						</ion-option>
					</ion-select>
				</ion-item>
				<div class="div-button" >
					 <button ion-button class="patient-button" [disabled] = "!this.patientForm.valid" (click)="addPatient()">Submit</button>
				</div>
			</ion-list>
		</form>
	</div>

</ion-content>