<ion-header>
	<ion-navbar>
		<button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Patient Details of {{ selectedItem.patientName.toUpperCase() }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="ion-content">
	<div text-center *ngIf="selectedItem">
		<div class="parent-div" ion-item *ngFor="let a of keys(selectedItem)">

			<div class="child-div">
				<span>
				{{a}} :
			</span>
				<span>
				{{selectedItem[a]}}
			</span>
			</div>
		</div>

		<button class="button-delete" ion-button color="danger" (click)="deleteInd()">
			Delete
		</button>
	</div>
</ion-content>