page-item-details {

}
.ion-content{
	background :#398AFF
}
.parent-div{
	color : white;background :#398AFF
}
.child-div{
	background :#398AFF;display: flex;justify-content: space-between;
}
.button-delete{
	top : 200px;background:red;color:white;width : 100px
}

