<ion-header>
	<ion-navbar>
		<button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Item Details, {{ selectedItem.patientName.toUpperCase() }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div text-center *ngIf="selectedItem">
		<button ion-item *ngFor="let a of keys(selectedItem)">
		  {{a}}: {{selectedItem[a]}} <br/>
		</button>
		<button style="top : 200px" ion-button color="danger" outline (click)="deleteInd()">
			Delete
		</button>
	</div>
</ion-content>